backcall==0.2.0
cssselect==1.1.0
decorator==5.0.4
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
lxml==4.6.3
parsel==1.6.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
selenium==3.141.0
six==1.15.0
traitlets==5.0.5
urllib3==1.26.4
w3lib==1.22.0
wcwidth==0.2.5
